:root {
  --flexoki-link: #24837B;
  --flexoki-link-hover: #3AA99F;

  --flexoki-bg: #FFFCF0;
  --flexoki-bg-2: #F2F0E5;
  --flexoki-ui: #E6E4D9;
  --flexoki-ui-2: #DAD8CE;
  --flexoki-ui-3: #CECDC3;
  --flexoki-tx-3: #B7B5AC;
  --flexoki-tx-2: #6F6E69;
  --flexoki-tx: #100F0F;

  --flexoki-red: #AF3029;
  --flexoki-orange: #BC5215;
  --flexoki-yellow: #AD8301;
  --flexoki-green: #66800B;
  --flexoki-cyan: #24837B;
  --flexoki-blue: #205EA6;
  --flexoki-purple: #5E409D;
  --flexoki-magenta: #A02F6F;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Inter, 'Adwaita Sans', system-ui, sans-serif;
  font-feature-settings: "ss01", "ss02", "ss03", "case", "tnum";
  font-size: .9rem;
}

p,
h2 {
  line-height: calc(1ex / 0.32);
}

body {
  max-width: 80ch;
  margin: 0 auto;
  background-color: var(--flexoki-bg);
}

main {
  padding: 1rem;
}

article {
  margin-bottom: 1.2rem;

  & h2 {
    margin: 0;
    font-size: 1.2rem;
    text-wrap: pretty;
    font-weight: 700;
  }

  & a {
    color: var(--flexoki-link);
    text-decoration: none;

    &:hover {
      color: var(--flexoki-link-hover);
    }

    &:visited {
      color: var(--flexoki-purple);
    }
  }

  & div {
    margin-left: 1.7rem;
  }

  & p {
    margin: 0;
    color: var(--flexoki-tx);
    font-size: 1rem;
  }

  & .result-index {
    color: black;
    margin-right: 1rem;
    font-variant-numeric: tabular-nums;
  }

  & .result-url {
    color: var(--flexoki-orange);
  }
}


.mono {
  font-family: 'Berkeley Mono', 'Fira Code', 'JetBrains Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.timestamp {
  color: var(--flexoki-red);
}

b {
  font-weight: 600;
}

.search-bar {
  display: flex;
  justify-items: center;
  gap: 7px;
  border-radius: 1.5rem;
  border: 1px solid var(--flexoki-ui);
  background-color: var(--flexoki-bg-2);
  padding: .5rem 1.2rem;

  & button {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
  }

  & svg {
    color: var(--flexoki-tx);
    width: 1.2rem;
  }

  & input {
    border: none;
    padding: none;
    margin: 0;
    width: 100%;
    color: var(--flexoki-tx);
    background-color: transparent;
    outline: none;
    font-size: 1rem;
  }

  &:hover {
    border-color: var(--flexoki-ui-2);
  }

  &:focus-within {
    border-color: var(--flexoki-ui-3);
  }
}

.time {
  font-size: .9rem;
  color: var(--flexoki-tx-2);
}

select {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: .5rem;
  padding: .4rem;
  color: var(--flexoki-tx);
  background-color: var(--flexoki-bg-2);
  border: 1px solid var(--flexoki-ui);
}

.search-footer {
  margin-top: .4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.4rem;

  & .search-selects {
    margin-left: auto;

    & select {
      &:hover {
        border-color: var(--flexoki-ui-2);
      }

      &:focus-within {
        border-color: var(--flexoki-ui-3);
      }
    }
  }
}

.home {
  text-align: center;
  margin-top: 5rem;
}
